.about {
    display: flex;
    gap: 3rem;
    margin: 90px 0;
    padding: 10rem 3rem;
    min-height: 100vh;
    align-items: center;
  }
  
  .left {
    flex: 1;
    max-width: 50%;
  }
  
  .left h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .left p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .btn-icons {
    margin-top: 3rem;
  }
  .cv-btn a{
    color: black;
  }
  .cv-btn a:hover{
    color: white;
  }
  .cv-btn {
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    background-color: #eceff4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cv-btn:hover {
    background-color: #0a1e3c;
  }
  
  /* Right Section */
  .right {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .animation-box {
    width: 100%;
    height: 100%;
    /* background-color: #f0f0f0; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Placeholder for animation */
  .coding-animation {
    width: 300px;
    height: 300px;
    background: url("https://www.example.com/path-to-animation.gif") center/cover no-repeat;
    border-radius: 50%;
  }
  
