.main{
    max-width: 100vw;
    padding-top: 5rem;
    min-height: 100vh;
    /* background-color: rgb(250, 141, 141); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header1 h1{
    font-size: 12rem;
    letter-spacing: 0px;
    font-weight: 900;
}
.header2 h1{
    font-size: 12rem;
    font-weight: 900;
}
.para {
    font-size: 1.5rem;
    font-weight: 300;
}
/* .skills{
    max-width: 100dvw;
    min-height: 50dvh;
    background-color: rgb(128, 234, 234);
} */
.span{
    /* color: rgb(248, 205, 98); */
    color: rgb(98, 248, 138);
}
@media  screen and (width < 1200px) {
    
}
@media  screen and (width < 450px) {
    .header1 h1{
        font-size: 5rem;
    }
    .header2 h1{
        font-size: 5rem;
    }
    .para{
        font-size: 0.9rem;
    }
}