.footer {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    /* background-color: rgba(248, 242, 242, 0.8); Semi-transparent black */
    color: rgb(9, 9, 9);
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-top: 1px solid grey;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
    font-size: 1rem;
  }
  
  .clock {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .copyright {
    font-size: 0.9rem;
    opacity: 0.8;
  }
  