.section{
    display: flex;
    gap: 1rem;
}


.icon a{
    cursor: pointer;
    width: 45px;
    color: black;
    height: 45px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    /* padding: 2px; */
    display: flex;
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 1.5rem;
    justify-content: center;
    /* border: 2px solid rgb(226, 212, 212); */
    align-items: center;
}
.icon a:hover{
    /* background-color: rgb(211, 209, 209); */
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
@media screen and (width < 450px) {
    .section{
        gap: 0.7rem;
    }
    .icon a{
        width: 20px;
        height: 20px;
        font-size: 0.7rem;
    }
}